### CLIENT SIDE ###
client/.DS_Store
client/node_modules
client/dist
client/.env.local
client/.env.*.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

### SERVER SIDE ###
server/.bundle
server/db/*.sqlite3
server/db/*.sqlite3-journal
server/log/*
server/tmp/*
server/.byebug_history
server/public/system
server/log
server/tmp
